p, div{
    font-size: 25pt;
}

#v1{
    background-color: #5eeb34;
}

#v2{
    background-color: #3b8f21;
}

#v3{
    background-color: #214a14;
}

#a1{
    background-color: #ed4242;
}

#a2{
    background-color: #ab3030;
}

#a3{
    background-color: #5e1c1c;
}